.container{
    height: 40vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://us.123rf.com/450wm/seamartini/seamartini1809/seamartini180900366/110288585-carreras-de-coches-o-bandera-de-rally-de-autom%C3%B3viles-3d-vector-de-fondo-a-cuadros-de-bandera-deporti.jpg?ver=6");
    
}


body {margin: 0;}

.diapositiva1 {
    height: 100vh;
}
.diapositiva2 {
    height: 100vh;
}
.diapositiva3 {
    background-color: yellow;
    height: 100vh;
}
.diapositiva4 {
    background-color: red;
    height: 100vh;
}

.btn-dark{
    height: 10em;
    width: 25em;
    font-size: 20px;
}

.titulo {
    font-size: 10em;
}

.div-sup {
    background-color: transparent;
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: inherit;
    
}
.div-inf {
    background-color: transparent;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
}

.med-sup {
    background-color: transparent;
    height: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: inherit;
}
.med-med {
    background-color: transparent;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.med-inf {
    background-color: transparent;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
}

.med-one{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.med-two{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.med-three{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.med-four{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nombrepersonaje{
    color: white;
}

.two-btn-dark{
    background-color: black;
    height: 10em;
    width: 25em;
    font-size: 20px;
}
.titulotwo {
    font-size: 10em;
}

.sup-titulo {
    background-color: transparent;
    height: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: inherit;
}

.med-carrera{
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inf-jugar{
    height: 20%;
    background-color: transparent;
}
