/* Autor: Daniel Moreno Herrador
Fecha: 05/10/2021 */


/* Estilo contenedor principal (Fondo) */

.container {
    margin: 0 0 0 0;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://us.123rf.com/450wm/seamartini/seamartini1809/seamartini180900366/110288585-carreras-de-coches-o-bandera-de-rally-de-autom%C3%B3viles-3d-vector-de-fondo-a-cuadros-de-bandera-deporti.jpg?ver=6");

}

body {
    margin: 0 0 0 0;
}


/* Estilos de las diferentes pantallas */

.diapositiva1 {
    height: 100vh;
}

.diapositiva2 {
    height: 100vh;
}

.diapositiva3 {
    height: 100vh;
}

.diapositiva4 {
    height: 100vh;
}


/* Estilo de los diferentes botones */

.btn-dark {
    height: 10em;
    width: 25em;
    font-size: 20px;
}

.two-btn-dark {
    background-color: black;
    height: 10em;
    width: 25em;
    font-size: 20px;
}

#btn-go {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.botonjugar {
    width: 4cm;
    height: 2cm;
}

/* Estilo del titulo */

.titulo {
    font-size: 10em;
}

.titulotwo {
    font-size: 10em;
}


/* Estilos contenedores pantalla fase 1 */

.div-sup {
    background-color: transparent;
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: inherit;

}

.div-inf {
    background-color: transparent;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
}


/* Estilos contenedores pantalla fase 2 */

.med-sup {
    background-color: transparent;
    height: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: inherit;
}

.med-med {
    background-color: transparent;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.med-inf {
    background-color: transparent;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
}

.med-one {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.med-two {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.med-three {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.med-four {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Estilos contenedores pantalla fase 3 */

.titulothree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.race {
    background-color: transparent;
    height: 41em;
    display: flex;
    flex-direction: column;
    position: initial;
}

.personajeacorrer1 {
    background-color: transparent;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3cm;
}

.personajeacorrer2 {
    background-color: transparent;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3cm;
}

.posicioncorredores {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
}

.metrosrecorridos {
    background-color: transparent;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1cm;
    
}

.botoncorrer {
    background-color: transparent;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1cm;
}

/* Estilos contenedores pantalla fase 3 */

.tituloganador {
    height: 1cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1cm;
}

.imagenganador {
    height: 8cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombreganador {
    height: 3cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1cm;
}

.hwinner {
    height: 4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo nombres y tamaño personajes */

.nombrepersonaje {
    color: white;
}

.pic {
    height: 5cm;
}